<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BLL_ALL.Properties.Settings.QuanLyBanQuanCafeConnectionString"
            connectionString="Data Source=DESKTOP-KEVKUCD\SQLEXPRESS;Initial Catalog=QuanLyBanQuanCafe;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>